body ,html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: url("bg cafe3.jpg");
	position: absolute;
	opacity: 99%;
	overflow: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0px; 
	background: transparent; 
}
::-webkit-scrollbar-thumb {
background: #FF0000;
}

.navbar {
	width: 100%;
	font-family: sans-serif;
	display: flex;
	position: fixed;
	top: 0;
}

.navbar .logo img {
	width: 150px;
	height: 50px;
	margin:10px 25px 0px 0px;
	cursor: pointer;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}

ul li a {
	display: block;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#722620;
	text-transform: capitalize;
	text-decoration: none;
	position: relative;
	transition: 0.5s;
	font-family: 'Bellota Text', cursive;
	font-weight: 900;
}

a:hover {
	color: white;
}

ul li span {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: #722620;
	z-index: -1;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
	transform-origin: center;
}

a:hover span {
	transform: scaleX(1);
}

span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;
}

span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.header {
	width: 450px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 50px;
	left: 50%;
	margin: 0;
	color: #30110D;
}

.header h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 120px;
	margin: 0;
	transition: all 0.5s;
	cursor: pointer;
}
.header h3 {
	font-family: 'Amatic SC', cursive;
	font-size: 48px;
	margin: 0;
	font-weight: 500;
}

.content {
	width: 100%;
	font-family: 'Bellota Text', cursive;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content .welcome {
	margin-top: 0;
}

#wlc {
	margin: 150px 0px;
}

.about {
	margin: 150px 0px;
}
.content .welcome {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content .samples {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content .about {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about {
	text-align: center;
}

.about h1 {
	font-size: 48px; 
}

.about p {
	margin: 0;
	font-size: 32px;
}

.content .content-pic {
	width: 80%;
	height: 500px;
	opacity: 70%;
	z-index: -1;
	position: absolute;
}

#text {
	width: 90%;
	height: 90%;
	text-align: center;
}
#text h1 {
	margin-bottom: 0;
	font-size: 48px;
}
#text p {
	margin: 0;
	font-size: 32px;
}


.pictures {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.img1 {
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.pictures img {
	width: 250px;
	height: 250px;
	margin: 0;
}

.caption1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-color: black;
	transform: translateY(100%);
	transition: all 0.5s;
}

.caption1 h4 {
	text-transform: uppercase;
}

.img1:hover .caption1{
	transform: translateY(50%);
}

.img2 {
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.pictures img {
	width: 250px;
	height: 250px;
	margin: 0;
}

.caption2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-color: black;
	transform: translateY(100%);
	transition: all 0.5s;
}

.caption2 h4 {
	text-transform: uppercase;
}

.img2:hover .caption2{
	transform: translateY(50%);
}

.img3 {
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.pictures img {
	width: 250px;
	height: 250px;
	margin: 0;
}

.caption3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-color: black;
	transform: translateY(200%);
	transition: all 0.5s;
}

.caption3 h4 {
	text-transform: uppercase;
}

.img3:hover .caption3{
	transform: translateY(100%);
}

.btn1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn1 a {
	text-align: center;
	width: 250px;
	text-decoration: none;
	margin: 10px;
	border: 2px solid #722620;
	border-radius: 10px;
	color: #722620;
	position: relative;
}
.btn1 a:hover {
	color: white;
}

.btn1 span {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: #722620;
	z-index: -1;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
	transform-origin: center;
}

.btn1 a:hover span {
	transform: scaleX(1);
}

span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;
}

span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}

.btn2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn2 a {
	text-align: center;
	width: 250px;
	text-decoration: none;
	margin: 10px;
	border: 2px solid #722620;
	border-radius: 10px;
	color: #722620;
	position: relative;
}
.btn2 a:hover {
	color: white;
}

.btn2 span {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: #722620;
	z-index: -1;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
	transform-origin: center;
}

.btn2 a:hover span {
	transform: scaleX(1);
}

span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;
}

span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}

.btn3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn3 a {
	text-align: center;
	width: 250px;
	text-decoration: none;
	margin: 10px;
	border: 2px solid #722620;
	border-radius: 10px;
	color: #722620;
	position: relative;
}
.btn3 a:hover {
	color: white;
}

.btn3 span {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: #722620;
	z-index: -1;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transition: transform 0.5s;
	transform-origin: center;
}

.btn3 a:hover span {
	transform: scaleX(1);
}

span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;
}

span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}

.footer {
	padding-top: 10px;
	width: 100%;
	height: 60vh;
	background-color: #f2bc94;
	margin-top: 200px;
	opacity: 90%;
	bottom: 0;
	font-family: 'Bellota Text', cursive;
	text-transform: capitalize;
	text-align: center;
}

.social-media {
	position: relative;
	display: flex;
	justify-content: center;
}

.social-media .icon {
	width: 15%;
	height: 90%;
	background-color: #30110D;
	margin: 10px;
	border-radius: 30px;
	color: white;
	position: relative;
	overflow: hidden;

}

.icon i {
	width: 100%;
	line-height: 80px;
	font-size: 22px;
	transition: all 0.2;
}

.icon i:hover {
	transform: scale(1.5);
	color: #30110D
	border:none;
}

.icon:before {
	content: '';
	position: absolute;
	width: 150%;
	height: 150%;
	background-color: #f2bc94;
	left: -110%;
	top: 90%;
	transform: rotate(45deg);
}

.icon:hover:before {
	animation: animation 0.7s 1 forwards;
}

.up {
	border: 2px solid #30110D;
	padding: 15px 15px;
	text-align: center;
	border-radius: 17px;
	font-size: 	20px;
	float: left;
	text-decoration: none;
	background-color: #30110D;
	color: white;
	margin-left: 8px;
}

@keyframes animation {
	0% {
		left: -110%;
		top: 90%;
	}
	50% {
		left: 15%;
		top: -30%;
	}
	100% {
		left: -10%;
		top: -10%;
	}
}
@media only screen and (max-width: 800px) {
	.navbar ul li a {
		width: 70px;
	}

	.navbar .logo img {
		display: none;
	}

	.header h1 {
		font-size: 80px;
	}
	.header h3 {
		font-size: 32px;
	}
	.welcome .content-pic {
		height: 600px;
	}
	#text h1 {
		font-size: 48px;
	}
	#text p {
		font-size: 24px;
	}
	.samples .pictures{
		flex-direction: column;
	}
	.samples .content-pic {
		height: 1100px;
	}
	.samples h1 {
		font-size: 48px;
	}
	.about .content-pic {
		height: 600px;
	}
	#about h1 {
		font-size: 48px;
	}
	#about p {
		font-size: 24px;
	}
	.footer {
		height: 40vh;
	}
}